<div style="text-align: center;">
  <h1 style="font-weight:400;line-height: 1.25;">
    <%= t(".header_html", title: @report.title) %>
  </h1>

  <p style="margin-bottom:2rem;">
    <%= t(".description_html") %>
  </p>

  <%= link_to t(".view_report"), report_url(@report.to_param), style: "background: #38b2ac; color: #fff; border-radius: 4px; text-decoration: none; padding:.75rem 1rem;" %>
</div>
